.app-container{
    max-width:590px;
    height: 650px;
    border: 1px solid black;
    position: relative;
}
.time-conatiner{
    position: absolute;
    z-index: 8888;
    background-color: #fff;
    width: 100%;
    height: 70px;

}
.time-setters-cont{
    background-color: red;
    display: flex;
}
.time-setter-btn{
    flex: 1;
    border-radius: 0;
    border:none;
    padding: 5px;
    margin: 0px 1px;
    cursor: pointer;
}
.time-selcets-container{
    display: flex;
}
.select{
    flex: 1;
}
.data-type-container{
    position: absolute;
    bottom: 0;
    z-index: 888888;
    background-color: white;
    width: 100%;
    height: 32px;
}
.data-type-container{
    display: flex;
}